<div class="row mb-4" id="<%= dom_id producto %>"> <!-- necesario para rails el id -->
<div class="container prod-container mb-1 ">
  <div class="row">
    <div class="col">
      <p>
        <strong>Name:</strong>
        <%= producto.name %>
      </p>
      <p>
        <strong>Description:</strong>
        <%= producto.description %>
      </p>
      <p>
        <strong>Unit price:</strong>
        <%= producto.unit_price %>
      </p>
      <p>
        <strong>Available stock:</strong>
        <%= producto.available_stock %>
      </p>
      <p>
        <strong>Category:</strong>
        <%= producto.category %>
      </p>
      <% if producto&.color %>
        <p>
          <strong>Color:</strong>
          <%= producto.color %>
        </p>
      <% end %>
      <% if producto&.size %>
        <p>
          <strong>Size:</strong>
          <%= producto.size %>
        </p>
      <% end %>
    </div>
    <div class="col">
      <% if producto.images.attached? %>
          <div class="img-row">
          <% producto.images.each do |image| %>
            <div class="img-col product-<%= producto.id %>">
              <%= image_tag image, class: "w-100"%>  
            </div>
          <% end %>
          </div>
        <% end %>
    </div>
    </div>
  </div>
</div>

