<% content_for :title, "Products" %>

<div class="row justify-content-between">
    <div class="h1-div col pt-4 pb-4 bg-body-tertiary text-center">
      <h1 class="display-2 text-muted text-center">Products</h1>
      <% if user_signed_in? %>
        <p>Here, you can <span class="text-primary">create</span>, <span class="text-primary">read</span>, <span class="text-primary">update</span>, and <span class="text-primary">delete</span> products from the catalogue.</p>
      <% else %>
        <p>Here, you can <span class="text-primary">read</span> the products from the catalogue.</p>
      <% end %>
      <%= render 'layouts/current_session' %>
    </div>
</div>
<% if user_signed_in? %>
  <div class="row justify-content-center">
    <%= link_to "New product", new_producto_path, class: "btn btn-primary w-25 h-25" %>
  </div>
<% end %>
</br>
<%= search_form_for @q, url: productos_path, method: :get, class: '' do |f| %>
  <div class="flex">
    <div class="row ">
      <%= f.label :name_or_description_cont, "Search any sportswear:", class: 'lead' %>
    </div>
    <div class="row justify-content-between"">
      <div class="col">
        <%= f.label :category_eq, "Category", class: 'w-100' %>
        <%= f.select :category_eq, options_for_select(@categories, params.dig(:q, :category_eq)), {}, { class: "form-select" } %>
      </div>
      <div class="col">
        <%= label_tag :order_by, "Order by", class: 'w-100' %>
        <%= select_tag :order_by, options_for_select([["Name", "name"], ["Created At", "created_at"]], params[:order_by]), class: "form-select" %>
      </div>
      <div class="col">
        <%= label_tag :order_direction, "Order direction", class: 'w-100' %>
        <%= select_tag :order_direction, options_for_select([["Ascending", "asc"], ["Descending", "desc"]], params[:order_direction]), class: "form-select"%>
      </div>
    </div>
    <div class="row">
      <%= f.search_field :name_or_description_cont, placeholder: 'Search...', class: 'form-control m-2 w-50 h-100', value: params.dig(:q, :name_or_description_cont) %>
      <%= f.submit "Search", class: 'btn btn-outline-primary m-2 mb-4 w-25' %>
    </div>
  </div>
<% end %>
<div id="products" >
  <% @productos.each do |producto| %>

      <%= render producto %>
  <% end %>
</div>

