<p style="color: green"><%= notice %></p>

<%= render @producto %>

<div class="d-flex mb-4">
  <%= link_to productos_path, class: 'btn btn-secondary m-2' do %>
    <button type="button" class="btn btn-secondary p-0">Back to products</button>
  <% end %>
  <%= link_to edit_producto_path(@producto), class: 'btn btn-primary m-2' do %>
    <button type="button" class="btn btn-primary p-0">Edit this product</button>
  <% end %>

  <%= button_to 'Destroy this product', @producto, method: :delete, form: { data: { turbo_confirm: 'Are you sure you want to delete this product?' } }, class: 'btn btn-danger m-2' %>
</div>
