<p style="color: green"><%= notice %></p>

<%= render @producto %>

<div>
  <%= link_to "Edit this product", edit_producto_path(@producto) %> |
  <%= link_to "Back to products", productos_path %>

  <%= button_to "Destroy this product", @producto, method: :delete %>
</div>
